/* =========================
   GLOBAL STYLES
========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f3f3f3;
    overflow-x:hidden;
}


/* =========================
   PAGE 1 - HIKING BANNER
========================= */

.banner{
    width:100%;
    height:715px;
    background-color:#1f262f;
    position:relative;
}

nav{
    width:100%;
    padding:20px 50px;
}

.logo{
    float:left;
}

.logo img{
    height:70px;
    width:auto;
}

nav ul{
    list-style:none;
    margin-top:20px;
}

nav ul li{
    display:inline-block;
    margin-left:30px;
    padding-left:20px;
}

.logo-text{
    color:#0cc4df;
}

nav ul li a{
    text-decoration:none;
    color:white;
    font-size:18px;
    font-weight:bold;
}

.banner-content{
    position:absolute;
    top:180px;
    left:70px;
    color:white;
    z-index:10;
}

.banner-content h1{
    font-size:70px;
    line-height:1.1;
    font-family:Georgia, serif;
    margin-bottom:20px;
}

.banner-content h3{
    font-size:22px;
    letter-spacing:2px;
    margin-bottom:20px;
}

.banner-content p{
    font-size:24px;
    line-height:1.5;
}

.image-box{
    position:absolute;
    bottom:0;
    right:-150px;
    width:100%;
    height:100%;
}

.image-box img{
    width:100%;
    height:100%;
    object-fit:cover;

    clip-path:polygon(
        90% 0,
        100% 50%,
        60% 100%,
        10% 100%
    );

    border-left:8px solid #54c97d;
    border-right:8px solid #54c97d;
}

.image-box::before{
    content:"";
    position:absolute;
    inset:0;
    background:#54c97d;

    clip-path:polygon(
        90% 0,
        100% 50%,
        60% 100%,
        10% 100%
    );

    transform:scale(1.02);
}


/* =========================
   PAGE 2 - CAMPING
========================= */

.camping-section{
    width:100%;
    min-height:100vh;
    padding:60px 80px;
    position:relative;
    background:#f3f3f3;
}

.left-icons{
    position:absolute;
    left:30px;
    top:60px;
    display:flex;
    flex-direction:column;
    gap:25px;
}

.left-icons span{
    color:#7df58a;
    font-size:32px;
    font-weight:bold;
}

.heading{
    margin-left:10px;
}

.heading h1{
    font-size:55px;
    font-weight:bold;
    color:#111;
    line-height:1.2;
}

.line{
    width:110px;
    height:8px;
    background:#11d7f5;
    border-radius:10px;
    margin-top:20px;
}

.cards{
    margin-top:100px;
    display:flex;
    justify-content:space-around;
    align-items:flex-start;
    gap:50px;
}

.card{
    text-align:center;
    max-width:300px;
}

.icon-box{
    width:120px;
    height:120px;
    background:#081829;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0 auto 30px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

.icon-box i{
    font-size:55px;
    color:#00d9ff;
}

.card h3{
    font-size:28px;
    margin-bottom:20px;
    color:#222;
}

.card p{
    font-size:20px;
    line-height:1.8;
    color:#444;
}


/* =========================
   PAGE 3 - ROCK CLIMBING
========================= */

.rock-climbing-section{
    width:100%;
    background:#f8f8f8;
    padding:50px 0;
     font-family:'Special Elite', cursive;
}

.container{
    width:1400px;
    max-width:95%;
    min-height:700px;
    margin:auto;
    position:relative;
    background:#fafafa;
}

.left-section{
    width:45%;
    padding:50px 70px;
}

.main-title{
    font-size:58px;
    line-height:70px;
    font-weight:bold;
    letter-spacing:4px;
    margin-bottom:70px;
}

.section-title{
    font-size:32px;
    margin-bottom:30px;
    font-weight:bold;
}

.description{
    width:520px;
    max-width:100%;
    font-size:22px;
    line-height:1.8;
    color:#555;
}

.blue-line{
    width:620px;
    max-width:100%;
    height:5px;
    background:#7cecff;
    margin:40px 0;
}

.modules{
    font-size:28px;
    color:#555;
    line-height:1.6;
    margin-bottom:50px;
}

.info{
    display:flex;
    gap:100px;
}

.info h3{
    font-size:30px;
    margin-bottom:15px;
}

.info p{
    font-size:28px;
    line-height:1.4;
}

.right-section{
    position:absolute;
    top:70px;
    right:120px;
}

.circle-image{
    width:420px;
    height:420px;
    border-radius:50%;
    overflow:hidden;
}

.circle-image img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.orange-text{
    position:absolute;
    top:430px;
    left:50px;

    width:350px;

    font-family:'Caveat', cursive;
    font-size:20px;
    font-weight:1000;
    line-height:1.05;

    color:#ff5a00;
    z-index:2;
}

.dots{
    position:absolute;
    right:70px;
    top:390px;
    color:#ff7a2f;
    font-size:60px;
}


/* =========================
   PAGE 4 - HERO SECTION
========================= */

.hero{
    height:700px;

    background:
    linear-gradient(
        rgba(0,0,0,0.45),
        rgba(0,0,0,0.45)
    ),
    url("images/hiking2.jpg");

    background-size:cover;
    background-position:center;

    display:flex;
    align-items:center;
}

.hero-content{
    margin-left:90px;
    color:white;
}

.title{
    font-family:'Caveat', cursive;
    font-size:80px;
    line-height:1;
    margin-bottom:60px;
    text-transform:uppercase;
}

.subtitle{
    font-family:'Special Elite', cursive;
    font-size:38px;
    line-height:1.4;
    margin-bottom:40px;
    font-weight:bold;
}

.desc{
    font-family:'Special Elite', cursive;
    font-size:24px;
    margin-bottom:40px;
}

.btn{
    display:inline-block;

    padding:15px 60px;

    border:3px solid #00d9ff;

    color:white;

    text-decoration:none;

    font-family:'Special Elite', cursive;

    transition:0.3s;
}

.btn:hover{
    background:#00d9ff;
    color:black;
}

/*page 5*/

.recovery-section{
    min-height:100vh;
    background:#f8f8f8;
    padding:70px;
    position:relative;

    display:flex;
    justify-content:space-between;
}

.left-icons-recovery{
    position:absolute;
    left:30px;
    top:40px;

    display:flex;
    flex-direction:column;
    gap:40px;
}

.left-icons-recovery span{
    color:#00d9ff;
    font-size:35px;
    font-weight:bold;
}

.recovery-content{
    width:55%;
}

.recovery-content h1{
    font-size:55px;
    line-height:1.2;
    margin-bottom:25px;
    color:#111;
}

.recovery-line{
    width:120px;
    height:8px;
    background:#00d9ff;
    border-radius:10px;
    margin-bottom:60px;
}

.recovery-list{
    display:flex;
    flex-direction:column;
    gap:50px;
}

.recovery-item{
    display:flex;
    gap:40px;
    align-items:flex-start;
}

.recovery-icon{
    width:120px;
    height:120px;
    background:#081829;

    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;
}

.recovery-icon i{
    font-size:55px;
    color:#00d9ff;
}

.recovery-item ul{
    list-style-type:disc;
}

.recovery-item li{
    font-size:22px;
    line-height:1.8;
    color:#555;
}

.recovery-right{
    width:40%;
    position:relative;
}

.recovery-image{
    width:450px;
    height:450px;
    border-radius:50%;
    overflow:hidden;
    margin:auto;
}

.recovery-image img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.recovery-text{
    margin-top:30px;

    font-family:'Caveat', cursive;
    color:#00d9ff;

    font-size:55px;
    font-weight:bold;

    text-align:center;
}

.recovery-crosses{
    position:absolute;
    right:0;
    bottom:100px;

    display:flex;
    flex-direction:column;
    gap:30px;
}

.recovery-crosses span{
    color:#00d9ff;
    font-size:35px;
    font-weight:bold;
}

/* =========================
   RESPONSIVE
========================= */

@media(max-width:1200px){

    .container{
        height:auto;
        padding-bottom:50px;
    }

    .right-section{
        position:static;
        display:flex;
        flex-direction:column;
        align-items:center;
        margin-top:30px;
    }

    .left-section{
        width:100%;
    }

    .orange-text{
        position:static;
        text-align:center;
        margin-top:30px;
    }

    .dots{
        display:none;
    }
}

@media(max-width:900px){

    .camping-section{
        padding:40px 20px;
    }

    .heading h1{
        font-size:35px;
    }

    .cards{
        flex-direction:column;
        align-items:center;
        margin-top:70px;
    }

    .card{
        margin-bottom:50px;
    }
}

@media(max-width:768px){

    .banner-content{
        left:25px;
        top:150px;
    }

    .banner-content h1{
        font-size:42px;
    }

    .banner-content p{
        font-size:18px;
    }

    .main-title{
        font-size:40px;
        line-height:50px;
    }

    .section-title{
        font-size:24px;
    }

    .description{
        font-size:18px;
    }

    .circle-image{
        width:280px;
        height:280px;
    }

    .info{
        flex-direction:column;
        gap:30px;
    }

    .hero-content{
        margin-left:30px;
        margin-right:20px;
    }

    .title{
        font-size:45px;
    }

    .subtitle{
        font-size:24px;
    }

    .desc{
        font-size:18px;
    }
}